// #notificacao {
//   position: absolute;
//   bottom: 3%;
//   left: 16.5%;
// }

.ui {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                     supported by Chrome, Edge, Opera and Firefox */
}

.app-wrapper {
  .ant-notification-notice-close {
    @apply hidden;
  }

  .ant-tabs-tab {
    @apply rounded-none bg-transparent transition-all duration-100 ease-in-out #{!important};
    @apply border-0 border-b border-solid border-gta-blue-300 border-opacity-20 font-bold uppercase #{!important};

    &:not(:first-child) {
      margin-top: 5px !important;
    }

    &:hover,
    &.ant-tabs-tab-active {
      @apply border-gta-blue-300 #{!important};

      .ant-tabs-tab-btn {
        @apply glowText text-white;
      }
    }
  }

  .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab-active {
    border-left-color: rgba(31, 41, 55, 1) !important;
  }

  .ant-tabs-left > .ant-tabs-content-holder,
  .ant-tabs-left > div > .ant-tabs-content-holder {
    border-left-color: rgba(31, 41, 55, 1) !important;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    @apply bg-transparent #{!important};
  }
}

.active-drop,
.hover-drop:hover {
  box-shadow: 0 0 4px #4d92b1, 0 0 1px #4d92b1, 0 0 9px #4d92b1, 0 0 4px #4d92b1,
    0 0 4px #4d92b1, 0 0 9px #4d92b1, 0 0 10px #4d92b1, 0 0 10px #4d92b1;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    @apply hidden;
  }

  &::-webkit-scrollbar-track {
    @apply hidden;
  }

  &::-webkit-scrollbar-thumb {
    @apply hidden;
  }
}

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-black bg-opacity-40;
    @apply rounded-full border border-solid border-gray-800;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gta-blue-400 bg-opacity-80;
  }
}

.tabs-wrapper {
  background: rgba(0, 0, 0, 0.85);
  padding-top: 50px !important;

  .left-tabs {
    .ant-tabs-nav {
      @apply pr-3;
      // @apply self-center;
      min-width: 180px !important;
    }

    .ant-tabs-nav-list {
      // @apply space-y-3 #{!important};
    }
  }
}

.ant-tabs.ant-tabs-top.ant-tabs-card {
  @apply px-3;
}

.ant-tabs-tab {
  // animation: flicker 5.5s infinite alternate;
}

.glowText {
  animation: glowText 5.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 4px #4d92b1, 0 0 1px #4d92b1, 0 0 9px #4d92b1,
      0 0 4px #4d92b1, 0 0 4px #4d92b1, 0 0 9px #4d92b1, 0 0 10px #4d92b1,
      0 0 150px #4d92b1;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes glowText {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 2px #4dc3f7, 0 0 110px #4dc3f7, 0 0 1px #4dc3f7,
      0 0 22px #4dc3f7, 0 0 22px #4dc3f7, 0 0 2px #4dc3f7, 0 0 2px #4dc3f7,
      0 0 5px #4dc3f7;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.glow-text {
  text-shadow: 0 0 2px #4dc3f7, 0 0 110px #4dc3f7, 0 0 1px #4dc3f7,
    0 0 22px #4dc3f7, 0 0 22px #4dc3f7, 0 0 2px #4dc3f7, 0 0 2px #4dc3f7,
    0 0 5px #4dc3f7;
}
